$background-image-url: '../images/mater-bg.png';

$header-colour: #2C587F;
$header-bar-colour: #1D3E5D;

$title-colour: #FFFFFF;

$header-logo-url: '../images/mater-logo-white.png';
$search-logo-url: '../images/mater-logo-blue.png';

$footer-colour: #1D3E5D;
$footer-title-colour: #EEEEEE;

$tab-background: #2C587F;

$icon-chevron-color: #FFFFFF;
$icon-user-color: #FFFFFF;
$icon-main-nav-color: #2C587F;
$icon-patient-landing-color: #C5E29F;

$button-info-background: #2C587F;
$button-info-background-hover: #1D3E5D;
$button-success-background: #2C587F;
$button-success-background-hover: #1D3E5D;
$button-main-nav-background-hover: #f4f8ec;

$advanced-search-text-colour: #EEEEEE;

$modal-header-colour: #2C587F;

$table-header-background: #2C587F;
$table-header-text-colour: #EEEEEE;

$table-row-selected-background: #0909fd;
$table-row-background-hover: rgba(231, 253, 9, 0.31);

$panel-background: #2C587F;

$link-color-hover: #7E7D83;

$rounded-connected-background: #C5E29F;

$breakpoint-alpha: 480px; // Width where tables are stacked.
